/* 1. Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

/* 2. Body defaults */
body {
  margin: 0;
  min-height: 100vh;
  /* line-height: 1.5; */
  font-family: system-ui, sans-serif;
}

/* 4. Media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5. Form elements inherit font */
input,
button,
textarea,
select {
  font: inherit;
}