body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-neutral-100);
    font-family: var(--font-family-base);
    font-size: var(--text-body-md-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--text-body-md-line);
    color: var(--color-neutral-500);
}
 
 .wrapper {
    width: 90%;
    margin: 5.7rem auto 0;
 }

 .product-card {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.3rem;
    border-radius: var(--space-100);
    background-color: var(--color-neutral-0);
 }

 .product-card__image img {
    border-radius: var(--space-200) var(--space-200) 0 0;
 }

 .product-card__content {
    display: flex;
    flex-direction: column;
 }

 .product-card__content-inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-400);
    padding: var(--space-400);
 }

 .product-card__details {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
 }



.product-card__label {
    margin: 0;
    font-size: var(--text-body-xs-size);
    font-weight: var(--font-weight-medium);
    line-height: var(--text-body-xs-line);
    letter-spacing: 0.25em;
    color: var(--color-neutral-500);
    text-transform: uppercase;
}

.product-card__title {
    margin: 0;
    line-height: var(--text-heading-xl-line);
    color: var(--color-neutral-900);
    max-width: 15ch;
}

.product-card__description {
    margin: 0;
    font-weight: var(--font-weight-medium);
}

.product-card__pricing {
    display: flex;
    flex-direction: column;
    gap: var(--space-300);
}

.product-card__prices {
    display: flex;
    align-items: center;
    gap: var(--space-200);
}

.product-card__current-price {
    margin: 0;
    color: var(--color-primary-500);
}

.product-card__original-price {
    margin: 0;
    font-size: var(--text-body-sm-size);
    font-weight: var(--font-weight-medium);
}

.product-card__button-icon img {
    width: var(--text-ui-md-size);
    height: var(--text-ui-md-size);
}

.product-card__button {
    display: inline-flex;
    gap: 0.50em;
    justify-content: center;
    align-items: center;
    padding: var(--space-200) var(--space-400);
    border-radius: var(--space-100);
    border-style: none;
    background-color: var(--color-primary-500);
}

.product-card__button-text {
    color: var(--color-neutral-0);
    font-size: var(--text-ui-md-size);
    font-weight: var(--font-weight-bold);
    line-height: var(--text-ui-md-line);
}

.product-card__title, .product-card__current-price {
    font-family: var(--font-family-heading);
    font-size: var(--text-heading-xl-size);
    font-weight: var(--font-weight-bold);
}

.attribution {
    margin-top: auto;
}


@media (min-width: 48rem) {
    .wrapper {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-card {
        flex-direction: row;
        padding-bottom: 0;
        max-width: 42rem;
    }
   
    .product-card__title {
        max-width: 10ch;
        opacity: 60%;
    }

    .product-card__description {
        max-width: 25ch;
    }
    .product-card__image,
  .product-card__content {
        flex: 1;
    }

  .product-card__image picture,
  .product-card__image img {
        width: 100%;
        height: 100%;
    }

  .product-card__image img {
        object-fit: cover;
        border-radius: var(--space-200) 0 0 var(--space-200);
    }

  .product-card__button:hover {
    cursor: pointer;
    background-color: var(--color-primary-700);
    }

  .product-card__button:focus-visible {
    outline: 2px solid var(--color-neutral-500);
    outline-offset: 3px;
    }


}
